button {
    border-radius: 50%;
    height: 50px;
    border: 2px solid darkgreen;
    background: #8cff5d;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.mainDiv {
    display: flex;
    height: 350px;
    width: 250px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid darkgreen;
    background: lawngreen;
    margin: 3px;
    border-radius: 35px;
    box-sizing: border-box;
}

.supDiv {
    display: flex;
    height: 700px;
    width: 250px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid darkgreen;
    background: lawngreen;
    margin: 3px;
    border-radius: 35px;
    box-sizing: border-box;
}

p,h2 {
    font-family: cursive;
    text-align: center;
}

.mainDivDetails{
    display: flex;
    box-sizing: border-box;
}

.backButton {
    height: 350px;
    width: 50px;
    border-radius: 5px;
    margin: 3px;
}
.backButton1 {
    height: 700px;
    width: 50px;
    border-radius: 5px;
    margin: 3px;
}
